/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
    font-size: 14px;
}



/*color schemes*/
.teal {

/*background-color: #1fb2a0;*/
/*background-color: #00A591;*/
  background-color: #0a8794;
  color: #fff;
}

.light-gray {
  background-color: #f8f8f8;
}

.white {
  background-color: #fff;
}

hr {
  max-width: 960px;
  border: 0.5px solid #EAEAEA;
}

/* hero content*/

.hero {
  padding-top: 50px;
  padding-bottom: 60px;
}

.hero .col-md-4 {
  text-align: center;
}

.poster {
  max-width: 250px;
}

.right {
  text-align: right;
  padding-right: 30px;
  display: initial;
}

.text {
  max-width: 460px;
}

.middle {
    margin: 0 auto;
    max-width: 810px;
}

.col-md-6 {
  margin-bottom: 25px;
}

/* navbar */

#homeicon {
  max-height: 35px;
  opacity: 0.3;
}

#homeicon:hover {
    opacity: 0.6;
}

.navbar-nav {
	text-align: right;
}

.navbar {
  margin-bottom: 0px;
}

/* general */

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans serif;
  background: #f8f8f8;
 }

h1 {
font-family: 'Abril Fatface', cursive;
  font-size: 5em;
  font-weight: 400;
  line-height: 1.4em;
  text-shadow: 0 1px #fff;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 13px;
}

h3 {
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: 300;
}

.container-fluid {
	width: 100%;
}

.container {
    width: 100%;
    max-width: 1050px;
}

.middle-text {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.width-text {
  max-width: 700px;
}

.centered {
	text-align: center;
}

.gray {
	background-color: #f8f8f8;
}

/* ids */

#header {
	height: 400px;
	color: white;
	background: linear-gradient(110deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.50) ),url('images/bruh.jpg') center -455px no-repeat;
}


.intro {
  font-size: 15px;
  font-weight: 300;
  color: #5B5B5B;
  text-shadow: 0px 1px lightgrey;
  padding-top: 50px;
}


/* D3 */

svg {
  margin-bottom: 100px;
  float: left;
}



.background {
  fill: #f8f8f8;
  opacity: 1;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,

.enter text {
	font-family: "Lato", sans serif;
}

.x line {
  fill: none;
  stroke: rgba(0, 179, 188, 0.15)
}

.tooltip {
	opacity: 0;
	position: absolute;                
	max-width: 200px;                                  
	padding: 12px 20px 12px 20px;            
	font: 14px sans-serif;
	font-family: "Helvetica Neue";
  color: #5b5b5b;
	font-weight: 300;  
	background: #fff;
 	border: 1px solid #ddd; 
  border-radius: 7px;  
	pointer-events: none;  
}

.half {
  opacity: 0.5;
}

.pop {
  background-color: #f8f8f8 !important;
  border: 5px dotted #0a8794 !important;
  color: #0a8794 !important;
}

#chart {
  height:100%;
  float: left;
}

#legend {
  margin-left: 30px;
  float: left;
  margin-top: 47px;
  min-width: 250px;
  max-width: 250px;
}

.legendR {
  border: 5px solid #0a8794;
  margin-bottom: 10px;
  background-color: #0a8794;
  font-size: 1em;
  line-height: 1.4;
  color: #fff;
  border-radius: 22px;
  padding: 15px 20px 15px 20px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
}

.legendName {
  font-family: "Lato";
}

.legendNo {
  font-size: 1.6em;
}

.bar:hover {
  opacity: 0.7;
}

.tillbaka  {
  font-size: 13px;
  font-family: "Abril Fatface";
/*  color: #5b5b5b;*/
  color: #00A591;
  opacity: 0;
  cursor: pointer;
}

.tillbaka:hover {
  opacity: 0.7 !important;
}

.dontShow {
  display: none;
}

text {
  font-size: 12px;
  font-weight: 400;
  fill: #5B5B5B;
}

.x text {
font-size: 13px;
    font-family: 'Abril Fatface', cursive;
}